.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: #c1d3e3;
    height: 100px;
    align-items: center;
    font-size: 40px;
    position: sticky;
    top: 0;

    img {
        height: 80px;
        transition: transform 5s;
    }

    img:hover {
        transform: rotate(180deg);
        transition: transform 5s;
    }

    p {
        flex: 2;
        display: flex;
        justify-content: center;
        color: rgb(52 127 209);
    }

    
}




